# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/

# Bytecode & Cache
__pycache__/
*.pyc

# Virtuelle Umgebung
.venv/

# Logs, Umgebungen
*.log
.env

# Editor-Dateien
.vscode/
.idea/

# System
.DS_Store
